section.action-belt
	.box
		.action-belt__left
			img.action-belt__left__image(src="assets/images/image-belt.png")
		.action-belt__middle
			.action-belt__middle__title Новая линейка
			.action-belt__middle__text лайт-ужинов каждую неделю
		.action-belt__right
			.action-belt__btn Попробовать сейчас
		