section.action-belt
	.box
		.action-belt__left
			img.action-belt__left-image(src="assets/images/image-belt.png")
		.action-belt__middle
			.action-belt__middle-title Новая линейка
			.action-belt__middle-text лайт-ужинов каждую неделю
		.action-belt__right
			.action-belt__right-btn Попробовать сейчас
