section.action-belt
	.wrap
		.action-belt__left
			img(src="assets/images/image-belt.png")
		.action-belt__middle
			h2 Новая линейка
			p лайт-ужинов каждую неделю
		.action-belt__right
			.action-belt__btn Попробовать сейчас
		