section.feedbacks
	.box
		.headering Отзывы о 
			span  #rebox
		.feedbacks__container.swiper-container
			.feedbacks__items.swiper-wrapper
				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
								p clockwork
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
							.post-content__icon-wrap
								img(src="assets/images/svg/instagram.svg").post-content__icon

				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus	.post-content__icon-wrap
							.post-content__icon-wrap
								img(src="assets/images/svg/instagram.svg").post-content__icon
				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
								p rexoboy
									span Не выходи из комнаты, не совершай ошибку. Зачем тебе Солнце, если ты куришь Шипку? За дверью бессмысленно все, особенно - возглас счастья. Только в уборную - и сразу же возвращайся. </br>
									a(href="#") @brodskiy </br>
									a(href="#") #belarus, #nevergonagiveyouup
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @brodskiy </br>
									a(href="#") #belarus, #nevergonagiveyouup
							.post-content__icon-wrap
								img(src="assets/images/svg/instagram.svg").post-content__icon
				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
								p rexoboy
									span Вам, проживающим за оргией оргию, имеющим ванную и теплый клозет! Как вам не стыдно о представленных к Георгию вычитывать из столбцов газет?</br>
									a(href="#") @mayak </br>
									a(href="#") #belarus
								p rexoboy
									span Знаете ли вы, бездарные, многие, думающие нажраться лучше как,- может быть, сейчас бомбой ноги выдрало у Петрова поручика?..  </br>
									a(href="#") @kayak </br>
									a(href="#") #belarus, 
									a(href="#") #lifeisstrange
							.post-content__icon-wrap
								img(src="assets/images/svg/instagram.svg").post-content__icon
			.feedbacks__pagination.pagination-basic
				.box
					.pagination-basic__left
						img(src="assets/images/icon-left.png").pagination__left-image
					.pagination-basic__right
						img(src="assets/images/icon-right.png").pagination__right-image
		.feedbacks__dots.dots-basic