section.feedbacks
	.box
		.headering Отзывы о 
			span  #rebox
		.feedbacks__container.swiper-container
			.feedbacks__items.swiper-wrapper
				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
							.post-content__item
								p clockwork
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus

				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
							.post-content__item
								p rexoboy
									span На это можно смотреть вечно! </br>
									a(href="#") @adawdwad </br>
									a(href="#") #belarus
				.feedbacks__post.post.swiper-slide
					.post__wrap
						.post__header
							.post__user
								.post__user-avatar(style="background-image: url('assets/images/image-avatar.jpg')")
								.post__user-wrap
									.post__user-title rexoboy
									.post__user-text Minsk, Belarus
							a(href="#").post__button Подписаться
						.post__image(style="background-image: url('assets/images/insta-image.jpg')")
						.post__content.post-content
							.post-content__item
									p rexoboy
										span На это можно смотреть вечно! </br>
										a(href="#") @adawdwad </br>
										a(href="#") #belarus
							.post-content__item
									p rexoboy
										span На это можно смотреть вечно! </br>
										a(href="#") @adawdwad </br>
										a(href="#") #belarus
			.feedbacks__pagination.pagination-basic
				.box
					.pagination-basic__left
						img(src="assets/images/icon-left.png").pagination__left-image
					.pagination-basic__right
						img(src="assets/images/icon-right.png").pagination__right-image
		.feedbacks__dots.dots-basic