section.footer-nav
	.box
		nav.footer-nav__navigation
			ul.footer-nav__list
				li.footer-nav__list-item
					a(href="#").footer-nav__list-link Меню
				li.footer-nav__list-item
					a(href="#").footer-nav__list-link Как это работает
				li.footer-nav__list-item
					a(href="#").footer-nav__list-link.footer-nav__list-link--active Доставка и оплата
				li.footer-nav__list-item
					a(href="#").footer-nav__list-link О сервисе
				li.footer-nav__list-item
					a(href="#").footer-nav__list-link Рецепты
				li.footer-nav__list-item
					a(href="#").footer-nav__list-link Чаво
				li.footer-nav__list-item
					a(href="#").footer-nav__list-link Пользовательское соглашение

