section.footer-nav
	.box
		nav.footer-nav__navigation
			ul.footer-nav__list
				li.footer-nav__list__item
					a.footer-nav__list__link(href="#") Как это работает
				li.footer-nav__list__item
					a.footer-nav__list__link(href="#") Доставка и оплата
				li.footer-nav__list__item
					a.footer-nav__list__link(href="#") О сервисе
				li.footer-nav__list__item
					a.footer-nav__list__link(href="#") Рецепты
				li.footer-nav__list__item
					a.footer-nav__list__link(href="#") Чаво
				li.footer-nav__list__item
					a.footer-nav__list__link(href="#") Пользовательское соглашение

