.footer-info
	.box
		.footer-info__left
			.footer-info__left__title Реквизиты
			.footer-info__left__text 2016-2017 © Rebox.by - интернет магазин продуктов.</br> ООО РЕСТОРАЦИЯ, УНП 190756996 </br> РБ, 223053, Минская обл., Минский р-н, Боровлянский с/с, 81-1б, каб.11 район д. Дроздово </br>Свидетельство о регистрации №1919 от 22.09.2016 </br>выдано Минским городским исполнительным комитетом, РБ. </br>Время работы: 10:00 – 17:30 пн–пт. </br>Внесен в торговый реестр 18.01.2017 №365141, Мингорисполком РБ 
		.footer-info__right
			.footer-info__right-social
				.footer-info__right__title Мы в соцсетях:
				.footer-info__right-social__icons
					.footer-info__right-social__item
						img(src="assets/images/icon-insta.png")
					.footer-info__right-social__item
						img(src="assets/images/icon-fb.png")
					.footer-info__right-social__item
						img(src="assets/images/icon-vk.png")
			.footer-info__right__title Подпишись!
			.footer-info__right__text на нашу рассылку, чтобы не пропустить самые выгодные предложения