.footer-logos
	.wrap
		img(src="assets/images/icon-mastercard.png")
		img(src="assets/images/icon-visa.png")
		img(src="assets/images/icon-visa2.png")
		img(src="assets/images/icon-mastercard2.png")
		img(src="assets/images/icon-ras.png")
		img(src="assets/images/icon-webpay.png")
		img(src="assets/images/icon-bel.png")