.footer-logos
	.box
		img.footer-logos__image(src="assets/images/icon-mastercard.png")
		img.footer-logos__image(src="assets/images/icon-visa.png")
		img.footer-logos__image(src="assets/images/icon-visa2.png")
		img.footer-logos__image(src="assets/images/icon-mastercard2.png")
		img.footer-logos__image(src="assets/images/icon-ras.png")
		img.footer-logos__image(src="assets/images/icon-webpay.png")
		img.footer-logos__image(src="assets/images/icon-bel.png")