.footer-info
	.box
		.footer-info__left
			.footer-info__left__title Реквизиты
			.footer-info__left__text 2016-2017 © Rebox.by - интернет магазин продуктов.</br> ООО РЕСТОРАЦИЯ, УНП 190756996 </br> 
		.footer-info__right
			.footer-info__right-social
				.footer-info__right__title Мы в соцсетях:
				.footer-info__right-social__icons
					.footer-info__right-social__item
						img(src="assets/images/icon-insta.png")
					.footer-info__right-social__item
						img(src="assets/images/icon-fb.png")
					.footer-info__right-social__item
						img(src="assets/images/icon-vk.png")
			.footer-info__right__title Подпишись!
			.footer-info__right__text на нашу рассылку, чтобы не пропустить самые выгодные предложения