footer.footer
	.wrap
		.footer__left
			h4 Реквизиты
			p 2016-2017 © Rebox.by - интернет магазин продуктов.</br> ООО РЕСТОРАЦИЯ, УНП 190756996 </br> 
		.footer__right
			.footer__right-social
				h4 Мы в соцсетях:
				.footer__right-social__icons
					.footer__right-social__item
						img(src="assets/images/icon-insta.png")
					.footer__right-social__item
						img(src="assets/images/icon-fb.png")
					.footer__right-social__item
						img(src="assets/images/icon-vk.png")
			h4 Подпишись!
			p на нашу рассылку, чтобы не пропустить самые выгодные предложения