section.footer-nav
	.wrap
		nav.footer-nav__items
			ul
				li
					a(href="#") Как это работает
				li
					a(href="#") Доставка и оплата
				li
					a(href="#") О сервисе
				li
					a(href="#") Рецепты
				li
					a(href="#") Чаво
				li
					a(href="#") Пользовательское соглашение

