header.header
	.header__wrap
		.box
			.header__logo.logo
				a.logo__link(href="/")
					img.logo__image(src="assets/images/logo.png" width="115px" height="52px")
			nav.navigation
				ul.navigation__list
					li.navigation__item.navigation__item-drop
						img(src="assets/images/arrow-top.png").navigation__item-arrow
						.navigation__link Меню
					li.navigation__item
						a.navigation__link(href="#") Как это работает
					li.navigation__item
						a.navigation__link(href="#") Доставка и оплата
					li.navigation__item
						a.navigation__link(href="#") Сертификаты
					li.navigation__item
						a.navigation__link(href="#") О сервисе

			.mobile
				img.mobile__icon(src="assets/images/phone.png")
				img(src="assets/images/arrow-top.png").mobile__arrow
				.mobile__wrap
					.mobile__title 316-01-01
					.mobile__text мтс, velcom
			.account
				a.account__link(href="#")
					img.account__icon(src="assets/images/user.png")
			.basket
				.basket__link
					img.basket__icon(src="assets/images/basket.png")
					.basket__circle 2

	.dropdown-header
		.box
			a.dropdown-header__link(href="#")
				img.dropdown-header__icon(src="assets/images/icon-catering.png")
				.dropdown-header__text Ужины на неделю
			a.dropdown-header__link(href="#")
				img.dropdown-header__icon(src="assets/images/icon-take-away.png")
				.dropdown-header__text Пробный Rebox
			a.dropdown-header__link(href="#")
				img.dropdown-header__icon(src="assets/images/icon-carrot.png")
				.dropdown-header__text Вегетарианский сет
	.dropdown
		.box
			.dropdown-mobile
				.dropdown-mobile__button Заказать звонок
				.dropdown-mobile__text Мы перезвоним вам в рабочее время с 09:00 до 17:30
				.dropdown-mobile__title Напишите нам:
				.dropdown-mobile__items
					a.dropdown-mobile__items-link(href="#") +375 (29) 316-01-01
					a.dropdown-mobile__items-link(href="#")
						img.dropdown-mobile__items-icon(src="assets/images/icon-telegram.png")
					a.dropdown-mobile__items-link(href="#")
						img.dropdown-mobile__items-icon(src="assets/images/icon-viber.png")
				.dropdown-mobile__mail
					a.dropdown-mobile__mail-link(href="#")
						img.dropdown-mobile__mail-icon(src="assets/images/icon-mail.png")
						.dropdown-mobile__mail-text info@rebox.by
	.dropdown
		.box
			.basket-drop
				.basket-drop__title Корзина
				.basket-drop__item
					.basket-drop__subtitle Куриные крылья в маринаде
					.basket-drop__text 30,50 руб.
				.basket-drop__item
					.basket-drop__subtitle Куриные крылья в маринаде
					.basket-drop__text 30,50 руб.
				.basket-drop__item.basket-drop-footer
					.basket-drop-footer__item
						.basket-drop-footer__title Доставка
						.basket-drop-footer__text 5 руб.
					.basket-drop-footer__item.basket-drop-footer__item-result
						.basket-drop-footer__title Итого с доставкой
						.basket-drop-footer__text 61 руб.
					a(href="#").basket-drop-footer__btn Перейти к оплате