header.header
	.wrap
		.header__logo
			a(href="/")
				img(src="assets/images/logo.png")
		nav.header__navigation
			ul
				li.header__navigation__item-drop
					p Меню
				li
					a(href="#") Как это работает
				li
					a(href="#") Доставка и оплата
				li
					a(href="#") Сертификаты
				li
					a(href="#") О сервисе


		.header__mobile
			img(src="assets/images/phone.png")
			.header__mobile__wrap
				h6 316-01-01
				p мтс, velcom
		.header__account
			a(href="#")
				img(src="assets/images/user.png")
		.header__bucket
			a(href="#")
				img(src="assets/images/basket.png")
			.header__bucket-drop
				h4 Корзина
				.header__bucket-drop__item
					h6 Куриные крылья в маринаде
					p 30,50 руб.
				.header__bucket-drop__item
					h6 Куриные крылья в маринаде
					p 30,50 руб.
				.header__bucket-drop__footer
					h6 Куриные крылья в маринаде
					p 30,50 руб.
					.header__bucket-drop__btn Перейти к оплате
.dropdown-header
	.wrap
		a(href="#")
			img(src="assets/images/icon-catering.png")
			p Ужины на неделю
		a(href="#")
			img(src="assets/images/icon-take-away.png")
			p Пробный Rebox
		a(href="#")
			img(src="assets/images/icon-carrot.png")
			p Вегетарианский сет
.wrap
	.header__mobile-drop
		.header__mobile-drop__button Заказать звонок
		p Мы перезвоним вам в рабочее время с 09:00 до 17:30
		h6 Напишите нам:
		.header__mobile-drop__items
			a(href="#") +375 (29) 316-01-01
			a(href="#")
				img(src="assets/images/icon-telegram.png")
			a(href="#")
				img(src="assets/images/icon-viber.png")
		.header__mobile-drop__mail
			a(href="#")
				img(src="assets/images/icon-mail.png")
				p info@rebox.by
