section.how-this-work
	.box
		.headering Как это работает
		.how-this-work__stages.stages
			.stages__item
				img.stages__item-image(src="assets/images/icon-chef.png")
				.stages__item-text Наш шеф разрабатывает меню
			.stages__item
				img.stages__item-image(src="assets/images/icon-menu.png")
				.stages__item-text Вы выбираете подходящий вариант
			.stages__item
				img.stages__item-image(src="assets/images/icon-vegetables.png")
				.stages__item-text Мы закупаем продукты, и привозим их к вашей двери
			.stages__item
				img.stages__item-image(src="assets/images/icon-pot.png")
				.stages__item-text Вы готовите вкусный ужин за 30-40 минут

		.how-this-work__slider.swiper-container.how-slider
			.how-slider__container.swiper-wrapper
				.how-slider__slide.swiper-slide(style="background-image:url('assets/images/second-slider_image.png')")
					.how-slider__slide-title Пробный Rebox
					a(href="#").how-slider__slide-btn Хочу!
				.how-slider__slide.swiper-slide(style="background-image:url('assets/images/second-slider_image.png')")
					.how-slider__slide-title Пробный Rebox
					a(href="#").how-slider__slide-btn Хочу
				.how-slider__slide.swiper-slide(style="background-image:url('assets/images/second-slider_image.png')")
					.how-slider__slide-title Пробный Rebox
					a(href="#").how-slider__slide-btn Хочу
				.how-slider__slide.swiper-slide(style="background-image:url('assets/images/second-slider_image.png')")
					.how-slider__slide-title Пробный Rebox
					a(href="#").how-slider__slide-btn Хочу
				
			.how-this-work__pagination.pagination
				.box.pagination__box
					.pagination__left
						img(src="assets/images/icon-left.png").pagination__left-image
					.pagination__right
						img(src="assets/images/icon-right.png").pagination__right-image
			.how-this-work__dots