section.how-this-work
	.wrap
		.section__title
			h1 Как это работает
		.how-this-work__items
			.how-this-work__item
				img(src="assets/images/icon-chef.png")
				p Наш шеф разрабатывает меню
			.how-this-work__item
				img(src="assets/images/icon-menu.png")
				p Вы выбираете подходящий вариант
			.how-this-work__item
				img(src="assets/images/icon-vegetables.png")
				p Мы закупаем продукты, и привозим их к вашей двери
			.how-this-work__item
				img(src="assets/images/icon-pot.png")
				p Вы готовите вкусный ужин за 30-40 минут
		.how-this-work__slider.swiper-container
			.how-this-work__container.swiper-wrapper
				.how-this-work__slide.swiper-slide(style="background-image:url('assets/images/second-slider_image.png')")
					h2 Пробный Rebox
					.how-this-work__slide__btn Хочу!
				.how-this-work__slide.swiper-slide(style="background-image:url('assets/images/second-slider_image.png')")
					h2 Пробный Rebox
					.how-this-work__slide__btn Хочу!

			.how-this-work__pagination
				.wrap
					.how-this-work__pagination__left
						img(src="assets/images/icon-left.png")
					.how-this-work__pagination__right
						img(src="assets/images/icon-right.png")