section.our-cooks
	.wrap
		.section__title
			h1 Наши шеф-повара
		.our-cooks__slider
			.our-cooks__slide
				.our-cooks__slide__image
				.our-cooks__slide__content
					h3 Евгений Макаревич
					p.gray-text бренд-шеф rebox.by
					p Каждый раз, когда я прорабатываю новый рецепт для rebox, представляю, что готовлю для своей семьи. А кормить родных – это ни с чем несравнимое удовольствие. Я хочу, чтобы ваша домашняя кухня стала местом, где готовят с настроением, а блюда из нашего меню каждый день собирали вашу семью за одним столом. И наша коробка ужинов уже воплощает мои мечты в жизнь!