section.our-cooks
	.box
		.headering Наши шеф-повара
		.box-mini
			.our-cooks__slider.swiper-container
				.swiper-wrapper
					.our-cooks__slide.swiper-slide
						.our-cooks__slide-image(style="background-image: url('assets/images/chef-image.png')")
						.our-cooks__slide-content
							.our-cooks__slide-title Евгений Макаревич
							.our-cooks__slide-text.gray-text бренд-шеф rebox.by
							.our-cooks__slide-text Каждый раз, когда я прорабатываю новый рецепт для rebox, представляю, что готовлю для своей семьи. А кормить родных – это ни с чем несравнимое удовольствие. Я хочу, чтобы ваша домашняя кухня стала местом, где готовят с настроением, а блюда из нашего меню каждый день собирали вашу семью за одним столом. И наша коробка ужинов уже воплощает мои мечты в жизнь!
					.our-cooks__slide.swiper-slide
						.our-cooks__slide-image(style="background-image: url('assets/images/chef-image.png')")
						.our-cooks__slide-content
							.our-cooks__slide-title Евгений Макаревич
							.our-cooks__slide-text.gray-text бренд-шеф rebox.by
							.our-cooks__slide-text Каждый раз, когда я прорабатываю новый рецепт для rebox, представляю, что готовлю для своей семьи. А кормить родных – это ни с чем несравнимое удовольствие. Я хочу, чтобы ваша домашняя кухня стала местом, где готовят с настроением, а блюда из нашего меню каждый день собирали вашу семью за одним столом. И наша коробка ужинов уже воплощает мои мечты в жизнь!