section.weeks
	.box
		.headering.weeks__headering Меню на неделю 18 окт.- 24 сент.
		.weeks__text Прием заказов на ужины до 14:00 четверга. Доставка – воскресенье, понедельник.
		form.weeks-form
			.weeks-form__item
				select.weeks-form__select
					option 1 option
					option 1 option
			.weeks-form__item
				select.weeks-form__select
					option 1 option
					option 1 option
			.weeks-form__item
				select.weeks-form__select
					option 1 option
					option 1 option
			input(type="submit" value="Заказать за 75 руб.").weeks-form__btn
			a(href="#").weeks-form__change Изменить состав
		.weeks__slide
			.weeks__slide-in.slide-in.swiper-container
				.slide-in__pagination
					.slide-in__pagination-wrap
						.slide-in__pagination-item Понедельник
						.slide-in__pagination-item.slide-in__pagination-item--active Вторник
						.slide-in__pagination-item Среда
						.slide-in__pagination-item Чертверг
						.slide-in__pagination-item Пятница
				.slide-in__items.swiper-wrapper
					.slide-in__item.slide-item.swiper-slide(style="background-image: url('assets/images/week-image.jpg')")
						.slide-item__ingredients.slide-item__ingredients_ingred
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Ингредиенты
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__ingredients.slide-item__ingredients_recipe
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Рецепт
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__characters
							.slide-item__characters-item
								.slide-item__characters-title Куриные крылья в маринаде
								.slide-item__characters-time
									img(src="assets/images/icon-time.png").slide-item__characters-time-icon
									.slide-item__characters-title 50 минут
							.slide-item__characters-item
								.slide-item__characters-options 2 порции  |  1020 грамм  |  2852 ккал  |  231/133/188 БЖУ
								.slide-item__characters-links
									.slide-item__characters-link.slide-item__characters-link--recipe Рецепт
									.slide-item__characters-link.slide-item__characters-link--ingred Ингредиенты
					.slide-in__item.slide-item.swiper-slide(style="background-image: url('assets/images/week-image.jpg')")
						.slide-item__ingredients.slide-item__ingredients_ingred
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Ингредиенты
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__ingredients.slide-item__ingredients_recipe
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Рецепт
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__characters
							.slide-item__characters-item
								.slide-item__characters-title Куриные крылья в маринаде
								.slide-item__characters-time
									img(src="assets/images/icon-time.png").slide-item__characters-time-icon
									.slide-item__characters-title 50 минут
							.slide-item__characters-item
								.slide-item__characters-options 2 порции  |  1020 грамм  |  2852 ккал  |  231/133/188 БЖУ
								.slide-item__characters-links
									.slide-item__characters-link.slide-item__characters-link--recipe Рецепт
									.slide-item__characters-link.slide-item__characters-link--ingred Ингредиенты
					.slide-in__item.slide-item.swiper-slide(style="background-image: url('assets/images/week-image.jpg')")
						.slide-item__ingredients.slide-item__ingredients_ingred
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Ингредиенты
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__ingredients.slide-item__ingredients_recipe
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Рецепт
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__characters
							.slide-item__characters-item
								.slide-item__characters-title Куриные крылья в маринаде
								.slide-item__characters-time
									img(src="assets/images/icon-time.png").slide-item__characters-time-icon
									.slide-item__characters-title 50 минут
							.slide-item__characters-item
								.slide-item__characters-options 2 порции  |  1020 грамм  |  2852 ккал  |  231/133/188 БЖУ
								.slide-item__characters-links
									.slide-item__characters-link.slide-item__characters-link--recipe Рецепт
									.slide-item__characters-link.slide-item__characters-link--ingred Ингредиенты
					.slide-in__item.slide-item.swiper-slide(style="background-image: url('assets/images/week-image.jpg')")
						.slide-item__ingredients.slide-item__ingredients_ingred
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Ингредиенты
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__ingredients.slide-item__ingredients_recipe
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Рецепт
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__characters
							.slide-item__characters-item
								.slide-item__characters-title Куриные крылья в маринаде
								.slide-item__characters-time
									img(src="assets/images/icon-time.png").slide-item__characters-time-icon
									.slide-item__characters-title 50 минут
							.slide-item__characters-item
								.slide-item__characters-options 2 порции  |  1020 грамм  |  2852 ккал  |  231/133/188 БЖУ
								.slide-item__characters-links
									.slide-item__characters-link.slide-item__characters-link--recipe Рецепт
									.slide-item__characters-link.slide-item__characters-link--ingred Ингредиенты
					.slide-in__item.slide-item.swiper-slide(style="background-image: url('assets/images/week-image.jpg')")
						.slide-item__ingredients.slide-item__ingredients_ingred
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Ингредиенты
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__ingredients.slide-item__ingredients_recipe
							.slide-item__ingredients-left
								img(src="assets/images/ingredients-image.png").slide-item__ingredients-image
								.slide-item__ingredients-need Вам понадобится:
								.slide-item__ingredients-need.need-gray Соль, перец, сковородка, разделочная доска, миска, нож, лопатка.
							.slide-item__ingredients-right
								.slide-item__ingredients-title Рецепт
								.slide-item__ingredients-item Треска: 300г
								.slide-item__ingredients-item Перец болгарские желтый: 1шт
								.slide-item__ingredients-item Цукини: 1шт
								.slide-item__ingredients-item Помидоры черри: 80г
								.slide-item__ingredients-item Шампиньоны: 100г
								.slide-item__ingredients-item Розмарин: 40г
								.slide-item__ingredients-item Чеснок: 10г
								.slide-item__ingredients-item Медово-горчичная заправка: 100г
						.slide-item__characters
							.slide-item__characters-item
								.slide-item__characters-title Куриные крылья в маринаде
								.slide-item__characters-time
									img(src="assets/images/icon-time.png").slide-item__characters-time-icon
									.slide-item__characters-title 50 минут
							.slide-item__characters-item
								.slide-item__characters-options 2 порции  |  1020 грамм  |  2852 ккал  |  231/133/188 БЖУ
								.slide-item__characters-links
									.slide-item__characters-link.slide-item__characters-link--recipe Рецепт
									.slide-item__characters-link.slide-item__characters-link--ingred Ингредиенты
			.slide-in__pagination-arrows.pagination-basic
				.box
					.pagination-basic__left
						img(src="assets/images/icon-left.png").pagination__left-image
					.pagination-basic__right
						img(src="assets/images/icon-right.png").pagination__right-image