section.welcome-slider.swiper-container
	.swiper-wrapper
		.welcome-slider__slide.swiper-slide(style="background-image:url('assets/images/front-image.png');")
			.box
				.welcome-slider__content
					.welcome-slider__slide-title Наборы продуктов
					.welcome-slider__slide-text с рецептами на каждый день
					.welcome-slider__slide-btn Заказать ужины на неделю
		.welcome-slider__slide.swiper-slide(style="background-image:url('assets/images/front-image.png');")
			.box
				.welcome-slider__content
					.welcome-slider__slide-title Наборы продуктов
					.welcome-slider__slide-text с рецептами на каждый день
					.welcome-slider__slide-btn Заказать ужины на неделю
	.welcome-slider__pagination.pagination
		.box
			.pagination__left
				img(src="assets/images/icon-left.png").pagination__left-arrow
			.pagination__right
				img(src="assets/images/icon-right.png").pagination__left-arrow