section.welcome-slider.swiper-container
	.swiper-wrapper
		.welcome-slider__slide.swiper-slide(style="background-image:url('assets/images/front-image.png');")
			.box
				.welcome-slider__content
					.welcome-slider__slide__title Наборы продуктов
					.welcome-slider__slide__text с рецептами на каждый день
					.welcome-slider__slide__btn Заказать ужины на неделю
		.welcome-slider__slide.swiper-slide(style="background-image:url('assets/images/front-image.png');")
			.box
				.welcome-slider__content
					.welcome-slider__slide__title Наборы продуктов
					.welcome-slider__slide__text с рецептами на каждый день
					.welcome-slider__slide__btn Заказать ужины на неделю
	.welcome-slider__pagination
		.box
			.welcome-slider__pagination__left
				img(src="assets/images/icon-left.png")
			.welcome-slider__pagination__right
				img(src="assets/images/icon-right.png")