section.why-yes
	.wrap
		.section__title
			h1 Почему ДА!
		.why-yes__items
			.why-yes__item
				img(src="#")
				.why-yes__item__wrap
					h5 Rebox экономит
					p время и силы
			.why-yes__item
				img(src="#")
				.why-yes__item__wrap
					h5 Rebox экономит
					p время и силы
			.why-yes__item
				img(src="#")
				.why-yes__item__wrap
					h5 Rebox экономит
					p время и силы
			.why-yes__item
				img(src="#")
				.why-yes__item__wrap
					h5 Rebox экономит
					p время и силы