section.why-yes
	.box
		.section__title Почему ДА!
		.why-yes__items
			.why-yes__item
				img.why-yes__item__image(src="assets/images/icon-stopwatch.png" width="62px" height="66px")
				.why-yes__item__wrap
					.why-yes__item__title Rebox экономит
					.why-yes__item__text время и силы
			.why-yes__item
				img.why-yes__item__image(src="assets/images/icon-tea.png" width="56px" height="66px")
				.why-yes__item__wrap
					.why-yes__item__title Точная фасовка
					.why-yes__item__text необходимого количества продуктов в вакуумные пакеты
			.why-yes__item
				img.why-yes__item__image(src="assets/images/icon-chef2.png" width="54px" height="66px")
				.why-yes__item__wrap
					.why-yes__item__title Фоторецепты проверены
					.why-yes__item__text и тестируются шефом в три этапа
			.why-yes__item
				img.why-yes__item__image(src="assets/images/icon-stew.png" width="55px" height="65px")
				.why-yes__item__wrap
					.why-yes__item__title Большие порции
					.why-yes__item__text все продукты взвешены и отмерены по рецептуре