.header__mobile-drop
	display block
	position absolute
	top -280px
	right 200px
	border 1px solid #dbdce1
	width 254px
	background-color #f9f9f9
	padding 20px
	z-index 18
	transition 0.4s transform
	&_droped
		transform translateY(363px)
.mobile-drop
	&__button
		width 100%
		padding 17px 36px
		background-color $main
		text-transform uppercase
		font-size 14px
		font-weight 400
		color #ffffff
		border 3px solid transparent
		cursor pointer
		t()
		&:hover
			color $main
			border 3px solid $main
			background-color transparent
	&__text
		color #848484
		font-size 14px
		font-weight 400
		margin-top 14px
	&__title
		margin-top 34px
		color #848484
		font-size 14px
		font-weight 400
	&__items
		margin-top 5px
		display flex
		justify-content space-between
		align-items center
		&__link
			font-size 17px
			font-weight 700
			color black
	&__mail
		border-top 1px solid #ededed
		padding-top 18px
		margin-top 16px
		&__link
			display flex
			align-items center
		&__text
			margin-left 14px
			margin-top 0
			font-size 16px
			font-weight 400
			color #000000