.basket-drop
	width 353px
	box-shadow 0 9px 21px rgba(0, 0, 0, 0.12)
	border 1px solid #dbdce1
	background-color #f9f9f9
	position absolute
	top 0px
	right -10px
	z-index 18
	padding 26px 25px
	transition 0.4s transform
	transform translateY(-400px)
	&_droped
		transform translateY(0px)
	&__title
		font-size 25px
		font-family CirceExtra
		font-weight 700
		text-transform uppercase
		padding-bottom 16px
	&__item
		width 100%
		border-top 1px solid #e9e9e9
		padding-top 12px
		padding-bottom 16px
		position relative
	&__delete
		position absolute
		right 0px
		top 8px
		&:hover
			fill black
	&__subtitle
		font-size 15px
		font-weight 400
		padding-bottom 10px
	&__text
		font-size 18px
		font-weight 700
	&-footer
		padding-bottom 0
		&__item
			display flex
			justify-content space-between
			font-size 14px
			&-result
				font-size 20px
				font-weight 700
				margin-top 14px
		&__btn
			width 100%
			height 53px
			display flex
			justify-content center
			align-items center
			background-color $main
			margin-top 15px
			color white
			font-size 14px
			text-transform uppercase
			border 3px solid transparent
			cursor pointer
			t()
			&:hover
				color $main
				border 3px solid $main
				background-color transparent