.footer-logos
	margin-top 34px
	padding-bottom 40px
	.box
		display flex
		justify-content center
		align-items center
	&__image
		margin-right 30px
		+to-width(550px)
			margin-right 8px
			max-width 40px
			height fit-content
		&:last-child
			margin-right 0