.header
	position relative
	width 100%
	z-index 20
	width 100%
	height 84px
	+to-width(1024px)
		position fixed
	+to-width(600px)
		height 60px
	&__wrap
		padding 14px 0
		border-bottom 1px solid #dbdce1
		background white
		z-index 20
		position relative
		+to-width(600px)
			padding 0
			height 60px
		.box
			display flex
			justify-content space-between
			align-items center
			height 100%
			+to-width(600px)
				padding 0 15px
	.logo
		&__link
			display block
		&__image
			+to-width(600px)
				width 90px
				height 41px
	.navigation
		+to-width(1024px)
			display flex
			flex-direction column
			position absolute
			z-index 10
			height 100vh
			right 0px
			width 266px
			background-color #f9f9f9
			padding-top 60px
			padding-left 36px
			transform translateX(270px)
			top 70px
			t()
			&--active
				transform translateX(0)
		+to-width(600px)
			top 60px
		&__account
			width 266px
			height 60px
			background-color #e8e8e8
			justify-content center
			align-items center
			cursor pointer
			margin-left -36px
			margin-top 12px
			display none
			+to-width(1024px)
				display flex
			&-text
				font-size 16px
				color #000000
				margin-left 10px
				padding-top 5px
		&__list
			display flex
			justify-content space-between
			font-size 16px
			font-weight 400
			+to-width(1024px)
				flex-direction column
				justify-content flex-start
		&__item
			margin-right 30px
			position relative
			cursor pointer
			+to-width(1080px)
				margin-right 25px
			+to-width(1024px)
				margin-bottom 45px
				font-size 22px
			&:last-child
				margin-right 0
			&:after
				content ''
				position absolute
				left 0
				bottom -7px
				height 4px
				width 0
				background-color $secondary
				t()
			&:hover
				&:after
					width 100%
			&--active
				&:after
					width 100%
			&-drop
				&:before
					content ''
					position absolute
					width 8px
					height 4px
					right -12px
					top 7px
					background-image url('../images/arrow-bottom.png')
					t()
					+to-width(1024px)
						display none
				&--active
					&:before
						transform rotate(180deg)
					&:after
						width 100%
			&-arrow
				position absolute
				left 0
				bottom -40px
				opacity 0
				&--active
					opacity 1
					bottom -35px
		&__link
			color black
	&__items
		display flex
		justify-content space-between
		align-items center
		width 250px
		position relative
		z-index 12
		+to-width(1024px)
			width 280px
		+to-width(600px)
			height 100%
			width auto
	.mobile
		display flex
		align-items center
		position relative
		cursor pointer
		+to-width(1024px)
			margin-right 40px
		+to-width(600px)
			border-left 1px solid #e8e8e8
			height 100%
			margin-right 0px
			padding 0 18px
		&:before
			content ''
			position absolute
			width 12px
			height 36px
			right -20px
			top 0px
			background-position center
			background-repeat no-repeat
			background-image url('../images/arrow-bottom.png')
			t()
		+to-width(600px)
			&:before
				display none
		&--active
			&:before
				transform rotate(180deg)
		&__wrap
			margin-left 11px
			+to-width(600px)
				display none
		&__title
			font-size 25px
			font-weight 700
		&__text
			color #777777
			font-size 14px
			font-weight 400
		&__arrow
			position absolute
			left 66px
			bottom -25px
			opacity 0
			+to-width(600px)
				left 25px
			&--active
				opacity 1
				transition-delay 0.3s
				+to-width(600px)
					bottom -3px
	.account
		+to-width(1024px)
			display none
	.basket
		position relative
		+to-width(1180px)
			padding-right 18px
		+to-width(600px)
			padding-left 18px
			padding-right 28px
			border-left 1px solid #e8e8e8
			height 100%
			display flex
			align-items center
			justify-content center
		&__link
			cursor pointer
			margin-left -20px
			+to-width(600px)
				margin-left 0
		&__circle
			width 20px
			height 20px
			background-color $main
			border-radius 50%
			position absolute
			top 0px
			right -18px
			display flex
			justify-content center
			align-items center
			color white
			font-size 12px
			padding-top 2px
			font-weight 700
			+to-width(1180px)
				right 0px
			+to-width(600px)
				top 17px
				right 10px
		&__arrow
			position absolute
			left -10px
			bottom -31px
			opacity 0
			+to-width(600px)
				left 30px
			&--active
				opacity 1
				transition-delay 0.3s
				+to-width(600px)
					bottom -3px

	.gamburger
		display none
		height 100%
		align-items center
		padding-left 18px
		border-left 1px solid #e8e8e8
		cursor pointer
		width 41px
		+to-width(1024px)
			display flex
		&__icon-close
			display none
			&--visible
				display block
		&__icon
			display block
			&--close
				display none