.our-cooks
	padding-top 64px
	padding-bottom 100px
	background-color #f6f6f6
	position relative
	&__slider
		padding-top 52px
		display flex
		justify-content center
		max-width 1910px
	&__slide
		padding 0 15px
		justify-content normal
		+to-width(840px)
			height auto
		.box-mini
			display flex
			margin-left auto
			margin-right auto
			background-color white
			box-shadow 0 0 27px rgba(0, 0, 0, 0.09)
			transition 4s margin
			+to-width(840px)
				flex-direction column
		&.swiper-slide-prev
			filter blur(8px)
			.box-mini
				margin-right 0
		&.swiper-slide-next
			filter blur(8px)
			.box-mini
				margin-left 0
		
		&-image
			width 35%
			min-height 100%
			background-color #333
			background-size cover
			background-position top center
			+to-width(840px)
				width 100%
				height 300px
				background-size cover
			+to-width(700px)
				height 200px
			+to-width(400px)
				height 138px
		&-content
			text-align left
			width 65%
			height 100%
			padding 0px 36px
			padding-top 38px
			padding-bottom 18px
			position relative
			+to-width(840px)
				padding 28px 36px
				padding-bottom 66px
				width 100%
			+to-width(700px)
				padding-left 24px
				padding-right 24px
		&-title
			font-size 25px
			font-weight 700
			line-height 30px
			letter-spacing -0.25px
			padding-bottom 16px
			+to-width(840px)
				padding-bottom 13px
		&-text
			font-size 16px
			font-weight 400
			line-height 22px
			letter-spacing 0.16px
			color #000000
			overflow hidden
			transition 0.5s max-height
			&--open
				max-height 500px!important
			+to-width(840px)
				max-height 90px
			+to-width(700px)
				font-size 16px
				line-height 22px
			&.gray-text
				color #848484
				letter-spacing -0.16px
				padding-bottom 21px
				+to-width(840px)
					padding-bottom 16px
		&-more
			display none
			position absolute
			bottom 32px
			left 36px
			color #848484
			font-size 14px
			font-weight 400
			text-decoration underline
			cursor pointer
			t()
			&:hover
				text-decoration none
			+to-width(840px)
				display block
			+to-width(700px)
				left 24px
	.pagination
		width 100%
		height 297px
		top 0
		left 0
		padding-top 90px
		position absolute
		display flex
		align-items center
		.box
			display flex
			justify-content space-between
			padding-left 0
			width 100%
			z-index 4
		&__left
			margin-left 28px
			cursor pointer
			opacity 1
			transition 0.3s opacity
			&:hover
				opacity 0.5
			+to-width(600px)
				&-image
					width 9px
			&.swiper-button-disabled
				opacity 0.2
				cursor default
		&__right
			margin-right 15px
			cursor pointer
			opacity 1
			transition 0.3s opacity
			&:hover
				opacity 0.5
			+to-width(600px)
				&-image
					width 9px
			&.swiper-button-disabled
				opacity 0.2
				cursor default
	&__dots
		z-index 5
		position absolute
		display flex
		justify-content center
		width 100%
		bottom 50px!important
		.swiper-pagination-bullet
			width 16px
			height 16px
			margin-right 7px
			border 1px solid #d8d8d8
			background-color #ffffff
			&-active
				background-color #b99359