.welcome-slider
	width 100%
	height 100vh
	background-size cover
	margin-bottom 50px
	.swiper-wrapper
		z-index 3
	&__content
		width 100%
	&__slide
		width 100%
		height 100vh
		background-size cover
		justify-content flex-start
		.box
			text-align left
			padding-left 100px
		&__title
			font-size 70px
			font-weight 700
		&__text
			font-size 30px
			font-weight 400
			margin-top 13px
		&__btn
			display inline-block
			margin-top 34px
			color white
			background-color $main
			padding 22px 23px
			font-size 22px
			font-weight 700
			border 3px solid transparent
			cursor pointer
			t()
			&:hover
				color $main
				border 3px solid $main
				background-color transparent

	&__pagination
		width 100%
		height 100vh
		top 0
		left 0
		z-index 2
		position absolute
		display flex
		align-items center
		.box
			display flex
			justify-content space-between
			padding-left 0
		&__left
			margin-left -40px
			cursor pointer
			&.swiper-button-disabled
				opacity 0.2
				cursor default
		&__right
			margin-right -40px
			cursor pointer
			&.swiper-button-disabled
				opacity 0.2
				cursor default