.why-yes
	padding-bottom 44px
	&__items
		width 100%
		display flex
		justify-content space-between
		align-items flex-start
		margin-top 44px
	&__item
		max-width 242px
		display flex
		&-image
			margin-right 16px
		&-title
			font-size 23px
			font-weight 700
			line-height 20px
		&-text
			margin-top 6px
			font-size 16px
			line-height 20px