extends ../layouts/default

block head

block content
	.wrapper
		include ../blocks/header
		.main
			include ../blocks/welcome-slider
			include ../blocks/how-this-work
			include ../blocks/action-belt
			include ../blocks/why-yes
			include ../blocks/our-cooks
			include ../blocks/feedbacks
		footer.footer
			.footer__main
				include ../blocks/footer-nav
				include ../blocks/footer
			include ../blocks/footer-logos


	script(src="assets/scripts/libs/jquery/dist/jquery.min.js")
	//- script(src='assets/scripts/libs/jquery-validation/dist/jquery.validate.min.js')
	//- script(src='assets/scripts/libs/jquery-masked/jquery-masked.js')
	script(src='assets/scripts/libs/swiper/dist/js/swiper.jquery.min.js')
	script(src="assets/scripts/projects.js")
