body
	position relative
	height 100vh
	min-width 320px
	transition 0.5s all
	
html
	font-family Regular
	font-weight normal
	font-size 62.5%
	line-height 1.4
	letter-spacing 0
	min-width 320px
	color black
	margin-left auto
	margin-right auto


section
	font-size 1.6rem


.box
	position relative
	padding 0 15px
	max-width 1140px
	margin-left auto
	margin-right auto
	&-mini
		width 844px

.wrapper
	display flex
	flex-direction column
	min-height 100vh

.main
	flex 1

.hidden
	display none


.headering
	color #000000
	font-size 50px
	text-align center
	font-family Bold
	&-link
		font-size 50px
		color #b99359
		&:hover
			text-decoration underline
