body
	position relative
	height 100vh
	min-width 320px
	transition 0.5s all
	
html
	font-family Regular
	font-weight normal
	font-size 62.5%
	line-height 1.4
	letter-spacing 0
	min-width 320px
	color black
	margin-left auto
	margin-right auto


section
	font-size 1.6rem


.box
	position relative
	max-width 1400px
	margin-left auto
	margin-right auto
	&-mini
		width 844px


.hidden
	display none


section
	.section__title
		color #000000
		font-size 50px
		text-align center
		font-family Bold
		&__link
			font-size 50px
			color #b99359
			&:hover
				text-decoration underline
