Regular = 'Circe-Regular';
Bold = 'Circe-Bold';
ExtraBold = 'Circe-ExtraBold';
Semibold = 'ProximaNovaSemibold';

	@font-face {
			font-family: "Circe-Regular";
			src: url("../fonts/Circe/Circe-Regular/Circe-Regular.eot");
			src: url("../fonts/Circe/Circe-Regular/Circe-Regular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Circe/Circe-Regular/Circe-Regular.woff") format("woff"),
			url("../fonts/Circe/Circe-Regular/Circe-Regular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Circe-Bold";
			src: url("../fonts/Circe/Circe-Bold/Circe-Bold.eot");
			src: url("../fonts/Circe/Circe-Bold/Circe-Bold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Circe/Circe-Bold/Circe-Bold.woff") format("woff"),
			url("../fonts/Circe/Circe-Bold/Circe-Bold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "Circe-ExtraBold";
			src: url("../fonts/Circe/Circe-ExtraBold/Circe-ExtraBold.eot");
			src: url("../fonts/Circe/Circe-ExtraBold/Circe-ExtraBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Circe/Circe-ExtraBold/Circe-ExtraBold.woff") format("woff"),
			url("../fonts/Circe/Circe-ExtraBold/Circe-ExtraBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	
	@font-face {
			font-family: "ProximaNovaSemibold";
			src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot");
			src: url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.woff") format("woff"),
			url("../fonts/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	
	@font-face {
			font-family: "MyriadProLight";
			src: url("../fonts/Myriad-Pro-Light.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	


// End Roboto
